<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Email" value="vladimir.gitsarev@mail.ru"/>
    <add key="UserName" value="Uladzimir"/>
    <add key="UserSecondName" value="Hitsarau"/>
    <add key="Mobile" value="+375292175186"/>
  </appSettings>
</configuration>